
<!-- this adds a link to the Add display form -->

@if (ViewBag.cheeses.Count == 0)
{
    <p><h3>NO CHEESES YET!</h3></p>
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>

    @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
    {
        <tr>
            <td>@cheese.Key</td>
            <td>@cheese.Value</td>
        </tr>
    }
</table>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>


