@model List<CheeseMVC.Models.Cheese>
<!-- this adds a link to the Add display form -->

@if (Model.Count == 0)
{
    <p><h3>NO CHEESES YET!</h3></p>
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
    </tr>

    @foreach (Cheese cheese in Model)
    {
        <tr>
            <td>@cheese.Name</td>
            <td>@cheese.Description</td>
            <td>@cheese.Type</td>
        </tr>
    }
</table>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>


